spin_manifest_version = 2

[application]
name = "rust-spin-basic"
version = "0.1.0"
authors = ["Caleb Schoepp <caleb.schoepp@fermyon.com>"]
description = "A basic Spin application that directly consumes the opentelemetry-wasi crate"

[[trigger.http]]
route = "/..."
component = "rust-spin-basic"

[component.rust-spin-basic]
source = "../../target/wasm32-wasip1/release/spin_basic.wasm"
allowed_outbound_hosts = []
key_value_stores = ["default"]
[component.rust-spin-basic.build]
command = "cargo build --target wasm32-wasip1 --release"
watch = ["src/**/*.rs", "Cargo.toml"]
