spin_manifest_version = 2

[application]
authors = ["Karthik Ganeshram <karthik.ganeshram@fermyon.com>"]
description = ""
name = "typescript-spin-basic"
version = "0.1.0"

[[trigger.http]]
route = "/..."
component = "typescript-spin-basic"

[component.typescript-spin-basic]
source = "dist/typescript-spin-basic.wasm"
exclude_files = ["**/node_modules"]
key_value_stores = ["default"]
[component.typescript-spin-basic.build]
command = ["npm install", "npm run build"]
watch = ["src/**/*.ts"]
