name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: extractions/setup-just@v3
      - uses: Swatinem/rust-cache@v2
      - run: just lint

  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: extractions/setup-just@v3
      - uses: Swatinem/rust-cache@v2
      - run: just format

  test:
    name: Test
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/calebschoepp/opentelemetry-wasi-integration-tests-base:latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3
      - uses: Swatinem/rust-cache@v2
      - run: just test
