name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Just
        uses: extractions/setup-just@v3

      - name: Setup Rust
        run: |
          rustup update stable --no-self-update
          rustup default stable
          rustup target add wasm32-wasip1 wasm32-wasip2

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0

      - name: Run Linters
        run: just lint

  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Just
        uses: extractions/setup-just@v3

      - name: Setup Rust
        run: |
          rustup update stable --no-self-update
          rustup default stable
          rustup target add wasm32-wasip1 wasm32-wasip2

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0

      - name: Check Formatting
        run: just format

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [lint, format] # Ensure code is linted and formatted before running tests
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Just
        uses: extractions/setup-just@v3

      - name: Setup Rust
        run: |
          rustup update stable --no-self-update
          rustup default stable
          rustup target add wasm32-wasip1 wasm32-wasip2

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0

      # TODO: This needs to be updated once wasi-otel is merged into big Spin.
      - name: Setup Spin
        run: |
          curl -LO https://github.com/asteurer/spin/releases/download/v0.2.0-otel/spin-linux-amd64
          echo "94e31a56502026f83c12a843cf4aa7f3b5bf1d5a97fd18348fe78ab7f2ba4548  spin-linux-amd64" | sha256sum --check
          chmod +x spin-linux-amd64
          mkdir -p $HOME/.local/bin
          mv spin-linux-amd64 $HOME/.local/bin/spin
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Run Tests
        run: just test
